:root {
  --blue-sky: rgb(255, 255, 255);
  --blue-light: rgb(255, 255, 255);
  --blue-mid: #183153;
  --black: black;
  --green: #16792c;
  --red-dark: darkred;
}

*:focus {
  outline: none;
}


.App {
  text-align: center;
}

.header-wrapper {
  padding-top: 10px;
  text-align: center;
  height: 15vh;
  display: flex;
  justify-content:space-between;
  align-items: baseline;
  padding-left: 150px;
  padding-right: 150px;
  padding-top:30px;
}

.header-buttons{
  display: inline-grid;
  justify-content:space-between;  
}


.header-title {
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 0.8px;
}

.content-wrapper {
  
  justify-items: center;
}

.search-wrapper {
  
  height: 30vh;
  padding-block: 40px;
 
  
}

.search-title {
  font-weight: 300;
  font-size: 1.5rem;
  margin-block: 10px 30px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.search-input {
  width: 91%;

}

.input:focus {
  box-shadow: 0 0 0 transparent;
}

.search-icon {
  padding-right: 10px;
  color: var(--black);
}

.btn-upload {
  background-color: var(--green);
  color: white;
}

.btn-search {
  background-color: var(--blue-mid);
  color: white;
}

.card {
  border: solid black 1px;
}

.img-title {
  font-size: 1.2em;
  font-weight: 300;
  text-align:left;
}

.card-text{
  text-align:left;
  font-weight: 300;
}

.btn:focus {
  box-shadow: 0 0 0 transparent;
}

.form-control{
  border:solid black 1px;

}